*.cbp
*.depend
*.layout
*.exe
*.o
*.bak
*.swp
*.out
**/nbproject/*
**/build/*
**/dist/*
*.inc
**/Makefile
*.stackdump
*.class

**/gradlew
**/gradlew.bat
**/gradle/*
**/.gradle/*
**/.idea/*
**/L
*.ipr
*.iml
*.iws
*.xml

**/out/*
